{
  "branches": ["main"],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "writerOpts": {
          "commitPartial": "*{{#if scope}} **{{scope}}:**{{/if}} {{#if subject}}{{subject}}{{else}}{{header}}{{/if}}{{#if shortHash}} ({{shortHash}}){{/if}}{{#if body}}\n\n  > {{body}}\n{{/if}}\n"
        }
      }
    ],
    [
      "@semantic-release/github",
      {
        "successComment": ":tada: This ${issue.pull_request ? 'PR is included' : 'issue is fixed'} in version ${nextRelease.version} :tada:\n\nThe release is available on [GitHub release](${releases.filter(release => /github\\.com/i.test(release.url))[0].url}) and as Helm chart `oci://ghcr.io/${process.env.GITHUB_REPOSITORY.toLowerCase()}:${nextRelease.version}`",
        "releasedLabels": ["released"],
        "addReleases": "bottom"
      }
    ]
  ]
}
